<!--GALLERY SECTION-->
<!--===================================================================================-->                    
<section id="gallery">

  <!--GALLERY-INTRO-->
  <div class="container-fluid">

    <!--PARALLAX PHOTO-->
    <div class="row">
      <div id="gallery-main-photo">
      </div>
    </div> <!--END of PARALLAX PHOTO-->

    <!--START TITLE AND TEXT-->
    <!--START BOOTSTRAP GRID-->
    <div class="row">
      <div id="gallery-intro" class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 text-center">

        <!--TITLE AND TEXT-->
        <h2 class="animation fadeInUp">Our Love Gallery</h2>
        <p class="animation delay1 fadeInUp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam magna ligula, aliquam nec auctor at, ultrices sollicitudin neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam aliquet sapien et tellus euismod faucibus. Vestibulum vitae hendrerit nisi, nec semper mi. </p>                                            
        <!--<a href="#gallery-photo" class="smoothscroll animation delay1 fadeInUp"><div class="de-icon inlineblock medium-size "><i class="de-icon-down-open-big"></i></div></a>-->

      </div>
    </div> 
    <!--END of BOOTSTRAP GRID-->
    <!--END of TITLE AND TEXT-->

  </div> <!--END of GALLERY-INTRO-->

  <!--GALLERY-PHOTO-->
  <div id="gallery-photo">
    <div class="container-fluid">

      <!--START BOOTSTRAP GRID-->
      <div class="row">
        <div class="col-md-12 no-padding">

          <!--MASONRY GALLERY-->
          <div id="gallery-masonry" class="masonry">

            <!--MASONRY GRID SIZER-->
            <div class="grid_sizer three-col"></div>      


            <!--GALLERY ITEM-1-->
            <!--===========================================-->
            <div class="masonry_col w33 animation fadeIn">

              <!--PHOTO-ITEM-->
              <div class="photo-item">
                <div class="photo-item-preview">

                  <!-- PHOTO -->
                  <img src="images/gallery1.jpg" alt="">

                  <!-- PHOTO OVERLAY -->
                  <div class="photo-item-overlay">

                    <!--CENTER-MIDDLE ALIGN BLOCK-->
                    <div class="block-centered">
                      <div class="centered-item">

                        <!--ICON-->
                        <a class="magnific-zoom-gallery" href="images/gallery1.jpg" title="SANE AND ALINE">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-picture-3"></i>
                          </div>
                        </a>
                        <a href="index-topbar.html#">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-link-1"></i>
                          </div>
                        </a>

                      </div>
                    </div><!--CENTER-MIDDLE ALIGN BLOCK-->

                    <!--PHOTO CAPTION-->
                    <div class="photo-caption-wrapper">
                      <span class="photo-caption delay1 fadeInUp">SANE AND ALINE</span>
                    </div>

                  </div><!--END of PHOTO OVERLAY-->

                </div>
              </div><!--END of PHOTO-ITEM-->
            </div><!--END of GALLERY ITEM-1-->


            <!--GALLERY ITEM-2-->
            <!--===========================================-->
            <div class="masonry_col w33 animation fadeIn">

              <!--PHOTO-ITEM-->
              <div class="photo-item" >
                <div class="photo-item-preview">

                  <!--PHOTO-->
                  <img src="images/gallery2.jpg" alt="">

                  <!--PHOTO OVERLAY-->
                  <div class="photo-item-overlay">

                    <!--CENTER-MIDDLE ALIGN BLOCK-->
                    <div class="block-centered">
                      <div class="centered-item">

                        <!--ICON-->
                        <a class="magnific-zoom-gallery" href="images/gallery2.jpg" title="THE LOVE FLOWER">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-picture-3"></i>
                          </div>
                        </a>
                        <a href="index-topbar.html#">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-link-1"></i>
                          </div>
                        </a>

                      </div>
                    </div><!--END of CENTER-MIDDLE ALIGN BLOCK-->

                    <!--PHOTO CAPTION-->
                    <div class="photo-caption-wrapper">
                      <span class="photo-caption delay1 fadeInUp">THE LOVE FLOWER</span>
                    </div>

                  </div><!--END of PHOTO OVERLAY-->

                </div>
              </div><!--END of PHOTO-ITEM-->
            </div><!--END of GALLERY ITEM-2-->


            <!--GALLERY ITEM-3-->
            <!--===========================================-->
            <div class="masonry_col w33 last-col animation fadeIn">

              <!--PHOTO-ITEM-->
              <div class="photo-item">
                <div class="photo-item-preview">

                  <!--PHOTO-->
                  <img src="images/gallery3.jpg" alt="">

                  <!--PHOTO OVERLAY-->
                  <div class="photo-item-overlay">

                    <!--CENTER-MIDDLE ALIGN BLOCK-->
                    <div class="block-centered">
                      <div class="centered-item">

                        <!--ICON-->
                        <a class="magnific-zoom-gallery" href="images/gallery3.jpg" title="BRIDESMAID">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-picture-3"></i>
                          </div>
                        </a>
                        <a href="index-topbar.html#">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-link-1"></i>
                          </div>
                        </a>

                      </div>
                    </div><!--END of CENTER-MIDDLE ALIGN BLOCK-->

                    <!--PHOTO CAPTION-->
                    <div class="photo-caption-wrapper">
                      <span class="photo-caption delay1 fadeInUp">BRIDESMAID</span>
                    </div>

                  </div><!--END of PHOTO OVERLAY-->

                </div>   
              </div><!--END of PHOTO-ITEM-->
            </div> <!--END of GALLERY ITEM-3-->


            <!--GALLERY ITEM-4-->
            <!--===========================================-->
            <div class="masonry_col w33 animation fadeIn">

              <!--PHOTO-ITEM-->
              <div class="photo-item">
                <div class="photo-item-preview">

                  <!--PHOTO-->
                  <img src="images/gallery4.jpg" alt="">

                  <!--PHOTO OVERLAY-->
                  <div class="photo-item-overlay">

                    <!--CENTER-MIDDLE ALIGN BLOCK-->
                    <div class="block-centered">
                      <div class="centered-item">

                        <!--ICON-->
                        <a class="magnific-zoom-gallery" href="images/gallery4.jpg" title="BRIDES'S SHOES">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-picture-3"></i>
                          </div>
                        </a>
                        <a href="index-topbar.html#">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-link-1"></i>
                          </div>
                        </a>

                      </div>
                    </div><!--END of CENTER-MIDDLE ALIGN BLOCK-->

                    <!--PHOTO CAPTION-->
                    <div class="photo-caption-wrapper">
                      <span class="photo-caption delay1 fadeInUp">BRIDES'S SHOES</span>
                    </div>

                  </div><!--END of PHOTO OVERLAY-->

                </div>
              </div><!--END of PHOTO-ITEM-->
            </div><!--END of GALLERY ITEM-4-->


            <!-- GALLERY ITEM-5-->
            <!--===========================================-->
            <div class="masonry_col w33 animation fadeIn">

              <!--PHOTO-ITEM-->
              <div class="photo-item">
                <div class="photo-item-preview">

                  <!--PHOTO-->
                  <img src="images/gallery5.jpg" alt="">

                  <!--PHOTO OVERLAY-->
                  <div class="photo-item-overlay">

                    <!--CENTER-MIDDLE ALIGN BLOCK-->
                    <div class="block-centered">
                      <div class="centered-item">

                        <!--ICON-->
                        <a class="magnific-zoom-gallery" href="images/gallery5.jpg" title="SISTER">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-picture-3"></i>
                          </div>
                        </a>
                        <a href="index-topbar.html#">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-link-1"></i>
                          </div>
                        </a>

                      </div>
                    </div><!--END of CENTER-MIDDLE ALIGN BLOCK-->

                    <!--PHOTO CAPTION-->
                    <div class="photo-caption-wrapper">
                      <span class="photo-caption delay1 fadeInUp">SISTER</span>
                    </div>

                  </div><!--END of PHOTO OVERLAY-->

                </div>
              </div><!--END of PHOTO-ITEM-->
            </div><!--END of GALLERY ITEM-5-->


            <!--GALLERY ITEM-6-->
            <!--===========================================-->
            <div class="masonry_col w33 last-col animation fadeIn">

              <!--PHOTO-ITEM-->
              <div class="photo-item">
                <div class="photo-item-preview">

                  <!--PHOTO-->
                  <img src="images/gallery6.jpg" alt="">

                  <!--PHOTO OVERLAY-->
                  <div class="photo-item-overlay">

                    <!--CENTER-MIDDLE ALIGN BLOCK-->
                    <div class="block-centered">
                      <div class="centered-item">

                        <!--ICON-->
                        <a class="magnific-zoom-gallery" href="images/gallery6.jpg" title="KISS">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-picture-3"></i>
                          </div>
                        </a>
                        <a href="index-topbar.html#">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-link-1"></i>
                          </div>
                        </a>

                      </div>
                    </div><!--END of CENTER-MIDDLE ALIGN BLOCK-->

                    <!--PHOTO CAPTION-->
                    <div class="photo-caption-wrapper">
                      <span class="photo-caption delay1 fadeInUp">KISS</span>
                    </div>

                  </div><!--END of PHOTO OVERLAY-->

                </div>
              </div><!--END of PHOTO-ITEM-->
            </div><!--END of GALLERY ITEM-6-->


            <!--GALLERY ITEM-7-->
            <!--===========================================-->
            <div class="masonry_col w33 animation fadeIn">

              <!--PHOTO-ITEM-->
              <div class="photo-item">
                <div class="photo-item-preview">

                  <!--PHOTO-->
                  <img src="images/gallery7.jpg" alt="">

                  <!--PHOTO OVERLAY-->
                  <div class="photo-item-overlay">

                    <!--CENTER-MIDDLE ALIGN BLOCK-->
                    <div class="block-centered">
                      <div class="centered-item">

                        <!--ICON-->
                        <a class="magnific-zoom-gallery" href="images/gallery7.jpg" title="SUNRISE">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-picture-3"></i>
                          </div>
                        </a>
                        <a href="index-topbar.html#">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-link-1"></i>
                          </div>
                        </a>

                      </div>
                    </div><!--END of CENTER-MIDDLE ALIGN BLOCK-->

                    <!-- PHOTO CAPTION -->
                    <div class="photo-caption-wrapper">
                      <span class="photo-caption delay1 fadeInUp">SUNRISE</span>
                    </div>

                  </div><!--END of PHOTO OVERLAY-->

                </div>
              </div><!--END of PHOTO-ITEM-->
            </div><!--END of GALLERY ITEM-7-->


            <!-- GALLERY ITEM-8-->
            <!--===========================================-->
            <div class="masonry_col w33 animation fadeIn">

              <!--PHOTO-ITEM-->
              <div class="photo-item">
                <div class="photo-item-preview">

                  <!--PHOTO-->
                  <img src="images/gallery8.jpg" alt="">

                  <!--PHOTO OVERLAY-->
                  <div class="photo-item-overlay">

                    <!--CENTER-MIDDLE ALIGN BLOCK-->
                    <div class="block-centered">
                      <div class="centered-item">

                        <!--ICON-->
                        <a class="magnific-zoom-gallery" href="images/gallery8.jpg" title="OUR DAY">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-picture-3"></i>
                          </div>
                        </a>
                        <a href="index-topbar.html#">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-link-1"></i>
                          </div>
                        </a>

                      </div>
                    </div><!--END of CENTER-MIDDLE ALIGN BLOCK-->

                    <!--PHOTO CAPTION-->
                    <div class="photo-caption-wrapper">
                      <span class="photo-caption delay1 fadeInUp">OUR DAY</span>
                    </div>

                  </div><!--END of PHOTO OVERLAY-->

                </div>
              </div><!--END of PHOTO-ITEM-->
            </div><!--END of GALLERY ITEM-->

            <!--GALLERY ITEM-9-->
            <!--===========================================-->
            <div class="masonry_col w33 last-col animation fadeIn hidelast">

              <!--PHOTO-ITEM-->
              <div class="photo-item">
                <div class="photo-item-preview">

                  <!--PHOTO-->
                  <img src="images/gallery9.jpg" alt="">

                  <!--PHOTO OVERLAY-->
                  <div class="photo-item-overlay">

                    <!--CENTER-MIDDLE ALIGN BLOCK-->
                    <div class="block-centered">
                      <div class="centered-item">

                        <!--ICON-->
                        <a class="magnific-zoom-gallery" href="images/gallery9.jpg" title="I'M STRONG">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-picture-3"></i>
                          </div>
                        </a>
                        <a href="index-topbar.html#">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-link-1"></i>
                          </div>
                        </a>

                      </div>
                    </div><!--END of CENTER-MIDDLE ALIGN BLOCK-->

                    <!--PHOTO CAPTION-->
                    <div class="photo-caption-wrapper">
                      <span class="photo-caption delay1 fadeInUp">I'M STRONG</span>
                    </div>

                  </div><!--END of PHOTO OVERLAY-->

                </div>
              </div><!--END of PHOTO-ITEM-->
            </div> <!--END of GALLERY ITEM-9-->                                       

          </div><!--END of MASONRY GALLERY-->

        </div> 
      </div> <!--END of BOOTSTRAP GRID-->

    </div> <!--END of CONTAINER-FLUID-->
  </div><!--END of GALLERY-PHOTO-->

</section><!--END of GALLERY-->