<!--NAVBAR-->
<!--===================================================================================-->
<header> 	
  <nav id="nav" class="navbar navbar-default" role="navigation">
    <div class="container">

      <!--LOGO-->
      <div id="logo-wrapper-1">
        <a id="logo-link" href="index.html">
          <span id="logo">S+A</span>
        </a>
      </div><!--END of LOGO-->

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav_menu">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="nav_menu">
        <ul id="nav_list" class="nav navbar-nav navbar-right">
          <li class="active"><a href="index.html#slider">HOME</a></li>
          <li><a href="index.html#wherewhen">WHERE AND WHEN</a></li>
          <li><a href="index.html#couple">COUPLE</a></li>
          <li><a href="index.html#gallery-intro">GALLERY</a></li>
          <li><a href="index.html#events-intro">EVENTS</a></li>
          <li><a href="index.html#bridesmaid-intro">BRIDESMAID</a></li>
          <li><a href="index.html#groomsmen-intro">GROOMSMEN</a></li>
          <li><a href="index.html#blog-intro">BLOG</a></li>
          <li><a href="accomodation.html" class="external ajax-popup">ACCOMODATIONS</a></li>
          <li><a href="gift.html" class="external ajax-popup">GIFT</a></li>
          <li><a href="index.html#rsvp-intro">RSVP</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav> 

</header><!--END of NAVBAR-->