<!--BRIDESMAID SECTION-->
<!--===================================================================================--> 
<section id="bridesmaid">

  <!--BRIDESMAID INTRO-->
  <div class="container-fluid">

    <!--PARALLAX PHOTO-->
    <div class="row">
      <div id="bridesmaid-main-photo">
      </div>
    </div> <!--END of PARALLAX PHOTO-->

    <!--START TITLE AND TEXT-->
    <!--START BOOTSTRAP GRID-->
    <div class="row">
      <div id="bridesmaid-intro" class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 text-center">

        <!--TITLE AND TEXT-->
        <h2 class="animation fadeInUp">Bridesmaid</h2>
        <p class="animation delay1 fadeInUp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam magna ligula, aliquam nec auctor at, ultrices sollicitudin neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam aliquet sapien et tellus euismod faucibus. Vestibulum vitae hendrerit nisi, nec semper mi. </p>                                            
        <!--<a href="#bridesmaid-photo" class="smoothscroll animation delay1 fadeInUp"><div class="de-icon inlineblock medium-size "><i class="de-icon-down-open-big"></i></div></a>-->

      </div>
    </div>
    <!--END of BOOTSTRAP GRID-->
    <!--END of TITLE AND TEXT-->

  </div> <!--END of BRIDESMAID INTRO-->


  <!--BRIDESMAID PHOTO-->
  <div id="bridesmaid-photo">
    <div class="container-fluid">

      <!--START BOOTSTRAP GRID-->
      <div class="row">
        <div class="col-md-12 no-padding">

          <!--BRIDSEMAID MASONRY-->
          <div id="bridesmaid-masonry" class="masonry two-row">

            <!--MASONRY GRID SIZER-->
            <div class="grid_sizer three-col"></div>

            <!--BRIDSEMAID GALLERY ITEM-1-->
            <!--===========================================-->
            <div class="masonry_col w33 animation fadeIn">

              <!--PHOTO-ITEM-->
              <div class="photo-item">
                <div class="photo-item-preview">

                  <!--PHOTO-->
                  <img src="images/bridesmaid1.jpg" alt="">

                  <!--PHOTO OVERLAY-->
                  <div class="photo-item-overlay">

                    <!--CENTER-MIDDLE ALIGN BLOCK-->
                    <div class="block-centered">
                      <div class="centered-item" >

                        <!--ICON-->
                        <a class="magnific-zoom-gallery" href="images/bridesmaid1.jpg" title="EMMA GRACE">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-picture-3"></i>
                          </div>
                        </a>
                        <a href="index-topbar.html#">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-link-1"></i>
                          </div>
                        </a>

                      </div>
                    </div><!--END of CENTER-MIDDLE ALIGN BLOCK-->

                    <!--PHOTO CAPTION-->
                    <div class="photo-caption-wrapper">
                      <span class="photo-caption delay1 fadeInUp">EMMA GRACE</span>
                      <p class="other-caption delay2 fadeInUp">Maid of Honor</p>
                    </div>

                  </div> <!--END of PHOTO OVERLAY-->

                </div>
              </div> <!--END of PHOTO-ITEM-->
            </div> <!--END of BRIDSEMAID GALLERY ITEM-1-->


            <!--BRIDSEMAID GALLERY ITEM-2-->
            <!--===========================================-->
            <div class="masonry_col w33 animation fadeIn">

              <!--PHOTO-ITEM-->
              <div class="photo-item" >
                <div class="photo-item-preview">

                  <!--PHOTO-->
                  <img src="images/bridesmaid2.jpg" alt="">

                  <!--PHOTO OVERLAY-->
                  <div class="photo-item-overlay">

                    <!--CENTER-MIDDLE ALIGN BLOCK-->
                    <div class="block-centered">
                      <div class="centered-item" >

                        <!--ICON-->
                        <a class="magnific-zoom-gallery" href="images/bridesmaid2.jpg" title="AUDREY AMELIA">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-picture-3"></i>
                          </div>
                        </a>
                        <a href="index-topbar.html#">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-link-1"></i>
                          </div>
                        </a>

                      </div>
                    </div><!--END of CENTER-MIDDLE ALIGN BLOCK-->

                    <!-- PHOTO CAPTION -->
                    <div class="photo-caption-wrapper">
                      <span class="photo-caption delay1 fadeInUp">AUDREY AMELIA</span>
                      <p class="other-caption delay2 fadeInUp">Best Friend</p>
                    </div>

                  </div><!--END of PHOTO OVERLAY-->

                </div>
              </div><!--END of PHOTO-ITEM-->
            </div> <!--END of BRIDSEMAID GALLERY ITEM-2-->


            <!--BRIDSEMAID GALLERY ITEM-3-->
            <!--===========================================-->
            <div class="masonry_col w33 animation fadeIn">

              <!--PHOTO-ITEM-->
              <div class="photo-item">
                <div class="photo-item-preview">

                  <!--PHOTO-->
                  <img src="images/bridesmaid3.jpg" alt="">

                  <!--PHOTO OVERLAY-->
                  <div class="photo-item-overlay">

                    <!--CENTER-MIDDLE ALIGN BLOCK-->
                    <div class="block-centered">
                      <div class="centered-item" >

                        <!--ICON-->
                        <a class="magnific-zoom-gallery" href="images/bridesmaid3.jpg" title="ABIGAIL CHLOE">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-picture-3"></i>
                          </div>
                        </a>
                        <a href="index-topbar.html#">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-link-1"></i>
                          </div>
                        </a>

                      </div>
                    </div><!--END of CENTER-MIDDLE ALIGN BLOCK-->

                    <!-- PHOTO CAPTION -->
                    <div class="photo-caption-wrapper">
                      <span class="photo-caption delay1 fadeInUp">ABIGAIL CHLOE</span>
                      <p class="other-caption delay2 fadeInUp">Room Mate</p>
                    </div>

                  </div><!--END of PHOTO OVERLAY-->

                </div>
              </div> <!--END of PHOTO-ITEM-->
            </div>  <!--END of BRIDSEMAID GALLERY ITEM-3-->


            <!--BRIDSEMAID GALLERY ITEM-4-->
            <!--===========================================-->
            <div class="masonry_col w33 animation fadeIn">

              <!--PHOTO-ITEM-->
              <div class="photo-item">
                <div class="photo-item-preview">

                  <!--PHOTO -->
                  <img src="images/bridesmaid4.jpg" alt="">

                  <!--PHOTO OVERLAY -->
                  <div class="photo-item-overlay">

                    <!--CENTER-MIDDLE ALIGN BLOCK-->
                    <div class="block-centered">
                      <div class="centered-item">

                        <!--ICON-->
                        <a class="magnific-zoom-gallery" href="images/bridesmaid4.jpg" title="CLARA NATALIE">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-picture-3"></i>
                          </div>
                        </a>
                        <a href="index-topbar.html#">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-link-1"></i>
                          </div>
                        </a>

                      </div>
                    </div>

                    <!-- PHOTO CAPTION -->
                    <div class="photo-caption-wrapper">
                      <span class="photo-caption delay1 fadeInUp">CLARA NATALIE</span>
                      <p class="other-caption delay2 fadeInUp">College Friend</p>
                    </div>

                  </div><!--END of PHOTO OVERLAY-->

                </div>
              </div><!--END of PHOTO-ITEM-->
            </div> <!--END of BRIDSEMAID GALLERY ITEM-->


            <!--BRIDSEMAID GALLERY ITEM-5-->
            <!--===========================================-->
            <div class="masonry_col w33 animation fadeIn">

              <!--PHOTO-ITEM-->
              <div class="photo-item">
                <div class="photo-item-preview">

                  <!--PHOTO-->
                  <img src="images/bridesmaid5.jpg" alt="">

                  <!--PHOTO OVERLAY-->
                  <div class="photo-item-overlay">

                    <!--CENTER-MIDDLE ALIGN BLOCK-->
                    <div class="block-centered">
                      <div class="centered-item" >

                        <!--ICON-->
                        <a class="magnific-zoom-gallery" href="images/bridesmaid5.jpg" title="ALICE STELLA">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-picture-3"></i>
                          </div>
                        </a>
                        <a href="index-topbar.html#">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-link-1"></i>
                          </div>
                        </a>

                      </div>
                    </div><!--END of CENTER-MIDDLE ALIGN BLOCK-->

                    <!--PHOTO CAPTION-->
                    <div class="photo-caption-wrapper">
                      <span class="photo-caption delay1 fadeInUp">ALICE STELLA</span>
                      <p class="other-caption delay2 fadeInUp">Sister</p>
                    </div>

                  </div><!--END of PHOTO OVERLAY-->

                </div>
              </div><!--END of PHOTO-ITEM-->
            </div> <!--END of BRIDSEMAID GALLERY ITEM-->


            <!--BRIDSEMAID GALLERY ITEM-6-->
            <!--===========================================-->
            <div class="masonry_col w33 animation fadeIn">

              <!--PHOTO-ITEM-->
              <div class="photo-item">
                <div class="photo-item-preview">

                  <!--PHOTO-->
                  <img src="images/bridesmaid6.jpg" alt="">

                  <!--PHOTO OVERLAY-->
                  <div class="photo-item-overlay">

                    <!--CENTER-MIDDLE ALIGN BLOCK-->
                    <div class="block-centered">
                      <div class="centered-item" >

                        <!--ICON-->
                        <a class="magnific-zoom-gallery" href="images/bridesmaid6.jpg" title="LUCY EVELYN">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-picture-3"></i>
                          </div>
                        </a>
                        <a href="index-topbar.html#">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-link-1"></i>
                          </div>
                        </a>

                      </div>
                    </div><!--END of CENTER-MIDDLE ALIGN BLOCK-->

                    <!--PHOTO CAPTION-->
                    <div class="photo-caption-wrapper">
                      <span class="photo-caption delay1 fadeInUp">LUCY EVELYN</span>
                      <p class="other-caption delay2 fadeInUp">Future Sister in Law</p>
                    </div>

                  </div><!--END of PHOTO OVERLAY-->

                </div>
              </div><!--END of PHOTO-ITEM-->
            </div> <!--END of BRIDSEMAID GALLERY ITEM-6-->

          </div> <!--END of BRIDSEMAID MASONRY-->

        </div>
      </div> <!--END of BOOTSTRAP GRID-->

    </div> 
  </div> <!--END of BRIDESMAID PHOTO-->

</section><!--END of BRIDSEMAID SECTION-->




<!--GROOMSMEN SECTION-->
<!--===================================================================================-->
<section id="groomsmen">

  <!--GROOMSMEN INTRO-->
  <div class="container-fluid">

    <!--PARALLAX PHOTO-->
    <div class="row">
      <div id="groomsmen-main-photo">
      </div>
    </div> <!--END of PARALLAX PHOTO-->

    <!--START TITLE AND TEXT-->
    <!--START BOOTSTRAP GRID-->
    <div class="row">
      <div id="groomsmen-intro" class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 text-center">

        <!--TITLE AND TEXT-->
        <h2 class="animation fadeInUp">Groomsmen</h2>
        <p class="animation delay1 fadeInUp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam magna ligula, aliquam nec auctor at, ultrices sollicitudin neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam aliquet sapien et tellus euismod faucibus. Vestibulum vitae hendrerit nisi, nec semper mi. </p>                                            
        <!--<a href="#groomsmen-photo" class="smoothscroll animation delay1 fadeInUp"><div class="de-icon inlineblock medium-size "><i class="de-icon-down-open-big"></i></div></a>-->

      </div>
    </div>
    <!--END of BOOTSTRAP GRID-->
    <!--END of TITLE AND TEXT-->

  </div><!--END of GROOMSMEN INTRO-->


  <!--GROOMSMEN PHOTO-->
  <div id="groomsmen-photo">
    <div class="container-fluid">

      <!-- START BOOTSTRAP GRID-->
      <div class="row">
        <div class="col-md-12 no-padding">

          <!--GROOMSMEN MASONRY-->
          <div id="groomsmen-masonry" class="masonry two-row">

            <!--MASONRY GRID SIZER-->
            <div class="grid_sizer three-col"></div>

            <!--GROOMSMEN GALLERY ITEM-1-->
            <!--===========================================-->
            <div class="masonry_col w33 animation fadeIn">

              <!--PHOTO-ITEM-->
              <div class="photo-item">
                <div class="photo-item-preview">

                  <!-- PHOTO -->
                  <img src="images/groomsmen1.jpg" alt="">

                  <!-- PHOTO OVERLAY -->
                  <div class="photo-item-overlay">

                    <!--CENTER-MIDDLE ALIGN BLOCK-->
                    <div class="block-centered">
                      <div class="centered-item">

                        <!--ICON-->
                        <a class="magnific-zoom-gallery" href="images/groomsmen1.jpg" title="JAMES NATHAN">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-picture-3"></i>
                          </div>
                        </a>
                        <a href="index-topbar.html#">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-link-1"></i>
                          </div>
                        </a>

                      </div>
                    </div><!--END of CENTER-MIDDLE ALIGN BLOCK-->

                    <!-- PHOTO CAPTION -->
                    <div class="photo-caption-wrapper">
                      <span class="photo-caption delay1 fadeInUp">JAMES NATHAN</span>
                      <p class="other-caption delay2 fadeInUp">Best Men</p>
                    </div>

                  </div><!--END of PHOTO OVERLAY-->

                </div>
              </div><!--END of PHOTO-ITEM-->
            </div> <!--END of GROOMSMEN GALLERY ITEM-1-->


            <!--GROOMSMEN GALLERY ITEM-2-->
            <!--===========================================-->
            <div class="masonry_col w33 animation fadeIn">

              <!--PHOTO-ITEM-->
              <div class="photo-item">
                <div class="photo-item-preview">

                  <!--PHOTO-->
                  <img src="images/groomsmen2.jpg" alt="">

                  <!--PHOTO OVERLAY-->
                  <div class="photo-item-overlay">

                    <!--CENTER-MIDDLE ALIGN BLOCK-->
                    <div class="block-centered">
                      <div class="centered-item">

                        <!--ICON-->
                        <a class="magnific-zoom-gallery" href="images/groomsmen2.jpg" title="JACOB">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-picture-3"></i>
                          </div>
                        </a>
                        <a href="index-topbar.html#">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-link-1"></i>
                          </div>
                        </a>

                      </div>
                    </div><!--END of CENTER-MIDDLE ALIGN BLOCK-->

                    <!--PHOTO CAPTION-->
                    <div class="photo-caption-wrapper">
                      <span class="photo-caption delay1 fadeInUp">JACOB</span>
                      <p class="other-caption delay2 fadeInUp">Best Friend</p>
                    </div>

                  </div><!--END of PHOTO OVERLAY-->

                </div>
              </div><!--END of PHOTO-ITEM-->
            </div> <!--END of GROOMSMEN GALLERY ITEM-2-->


            <!--GROOMSMEN GALLERY ITEM-3-->
            <!--===========================================-->
            <div class="masonry_col w33 animation fadeIn">

              <!--PHOTO-ITEM-->
              <div class="photo-item">
                <div class="photo-item-preview">

                  <!--PHOTO-->
                  <img src="images/groomsmen3.jpg" alt="">

                  <!--PHOTO OVERLAY-->
                  <div class="photo-item-overlay">

                    <!--CENTER-MIDDLE ALIGN BLOCK-->
                    <div class="block-centered">
                      <div class="centered-item">

                        <!--ICON-->
                        <a class="magnific-zoom-gallery" href="images/groomsmen3.jpg" title="ETHAN HENRY">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-picture-3"></i>
                          </div>
                        </a>
                        <a href="index-topbar.html#">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-link-1"></i>
                          </div>
                        </a>

                      </div>
                    </div><!--END of CENTER-MIDDLE ALIGN BLOCK-->

                    <!--PHOTO CAPTION-->
                    <div class="photo-caption-wrapper">
                      <span class="photo-caption delay1 fadeInUp">ETHAN HENRY</span>
                      <p class="other-caption delay2 fadeInUp">Room Mate</p>
                    </div>

                  </div><!--END of PHOTO OVERLAY-->

                </div>
              </div> <!--END of PHOTO-ITEM-->
            </div> <!--END of GROOMSMEN GALLERY ITEM-3-->


            <!--GROOMSMEN GALLERY ITEM-4-->
            <!--===========================================-->
            <div class="masonry_col w33 animation fadeIn">

              <!--PHOTO-ITEM-->
              <div class="photo-item">
                <div class="photo-item-preview">

                  <!--PHOTO-->
                  <img src="images/groomsmen4.jpg" alt="">

                  <!--PHOTO OVERLAY-->
                  <div class="photo-item-overlay">

                    <!--CENTER-MIDDLE ALIGN BLOCK-->
                    <div class="block-centered">
                      <div class="centered-item">

                        <!--ICON-->
                        <a class="magnific-zoom-gallery" href="images/groomsmen4.jpg" title="WILLIAM CHLOE">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-picture-3"></i>
                          </div>
                        </a>
                        <a href="index-topbar.html#">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-link-1"></i>
                          </div>
                        </a>

                      </div>
                    </div><!--END of CENTER-MIDDLE ALIGN BLOCK-->

                    <!--PHOTO CAPTION-->
                    <div class="photo-caption-wrapper">
                      <span class="photo-caption delay1 fadeInUp">WILLIAM CHLOE</span>
                      <p class="other-caption delay2 fadeInUp">Brother</p>
                    </div>

                  </div><!--END of PHOTO OVERLAY-->

                </div>
              </div> <!--END of PHOTO-ITEM-->
            </div> <!-- END of GROOMSMEN GALLERY ITEM-4-->


            <!--GROOMSMEN GALLERY ITEM-5-->
            <!--===========================================-->
            <div class="masonry_col w33 animation fadeIn">

              <!--PHOTO-ITEM-->
              <div class="photo-item">
                <div class="photo-item-preview">

                  <!--PHOTO-->
                  <img src="images/groomsmen5.jpg" alt="">

                  <!--PHOTO OVERLAY-->
                  <div class="photo-item-overlay">

                    <!--CENTER-MIDDLE ALIGN BLOCK-->
                    <div class="block-centered">
                      <div class="centered-item">

                        <!--ICON-->
                        <a class="magnific-zoom-gallery" href="images/groomsmen5.jpg" title="SAMUEL LUKE">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-picture-3"></i>
                          </div>
                        </a>
                        <a href="index-topbar.html#">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-link-1"></i>
                          </div>
                        </a>

                      </div>
                    </div><!--END of CENTER-MIDDLE ALIGN BLOCK-->

                    <!--PHOTO CAPTION-->
                    <div class="photo-caption-wrapper">
                      <span class="photo-caption delay1 fadeInUp">SAMUEL LUKE</span>
                      <p class="other-caption delay2 fadeInUp">College Friend</p>
                    </div>

                  </div><!--END of PHOTO OVERLAY-->

                </div>
              </div> <!--END of PHOTO-ITEM-->
            </div> <!-- END of GROOMSMEN GALLERY ITEM-5-->


            <!--GROOMSMEN GALLERY ITEM-6-->
            <!--===========================================-->
            <div class="masonry_col w33 animation fadeIn">

              <!--PHOTO-ITEM-->
              <div class="photo-item">
                <div class="photo-item-preview">

                  <!--PHOTO-->
                  <img src="images/groomsmen6.jpg" alt="">

                  <!--PHOTO OVERLAY-->
                  <div class="photo-item-overlay">

                    <!--END of CENTER-MIDDLE ALIGN BLOCK-->
                    <div class="block-centered">
                      <div class="centered-item">

                        <!--ICON-->
                        <a class="magnific-zoom-gallery" href="images/groomsmen6.jpg" title="HUDSON">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-picture-3"></i>
                          </div>
                        </a>
                        <a href="index-topbar.html#">
                          <div class="de-icon circle small-size inlineblock">
                            <i class="de-icon-link-1"></i>
                          </div>
                        </a>

                      </div>
                    </div><!--END of CENTER-MIDDLE ALIGN BLOCK-->

                    <!--PHOTO CAPTION-->
                    <div class="photo-caption-wrapper">
                      <span class="photo-caption delay1 fadeInUp">HUDSON</span>
                      <p class="other-caption delay2 fadeInUp">College Friend</p>
                    </div>

                  </div><!--END of PHOTO OVERLAY-->

                </div>
              </div> <!--END of PHOTO-ITEM-->
            </div> <!--END of GROOMSMEN GALLERY ITEM-6-->

          </div> <!--END of GROOMSMEN MASONRY-->

        </div>
      </div> <!--END of BOOTSTRAP GRID-->

    </div> 
  </div> <!--END of GROOMSMEN PHOTO-->

</section><!--END of GROOMSMEN SECTION-->