<!--RSVP-->
<!--===================================================================================-->
<section id="rsvp">

  <!--RSVP INTRO-->
  <div class="container-fluid">

    <!--PARALLAX PHOTO-->
    <div class="row">
      <div id="rsvp-main-photo">
      </div>
    </div> <!--END of PARALLAX PHOTO-->

    <!--START TITLE AND TEXT-->
    <!--START BOOTSTRAP GRID-->
    <div class="row">
      <div id="rsvp-intro" class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 text-center">

        <!--TITLE AND TEXT-->
        <h2 class="animation fadeInUp">RSVP</h2>
        <p class="animation delay1 fadeInUp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam magna ligula, aliquam nec auctor at, ultrices sollicitudin neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam aliquet sapien et tellus euismod faucibus. Vestibulum vitae hendrerit nisi, nec semper mi.</p>                                            
        <!--<a href="#rsvp-form" class="smoothscroll animation delay2 fadeInUp"><div class="de-icon inlineblock medium-size "><i class="de-icon-down-open-big"></i></div></a>-->

      </div>
    </div>
    <!--END of BOOTSTRAP GRID-->
    <!--END of TITLE AND TEXT-->

  </div><!--END of RSVP INTRO-->         


  <!--RSVP FORM-->
  <div id="rsvp-form" class="animation fadeIn">
    <div class="container-fluid">

      <!--START BOOTSTRAP GRID-->
      <div class="row">
        <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 text-center">

          <!--TITLE-->
          <h3>Join Our Events and Party</h3>

          <!--FORM-WRAPPER-->
          <div id="form-wrapper">

            <!--RESULT MESSAGE-->
            <div id="result" class="result"> <!-- Show Message --> </div>

            <!--FORM-->
            <form method="post" action="http://demo.dethemes.com/nikh/rsvp.php" id="rsvpform">
              <div id="fullname" class="form-group">
                <input type="text" class="form-control" id="inputname" placeholder="*Name">
              </div>
              <div id="email" class="form-group">
                <input type="email" class="form-control" id="inputemail" placeholder="*Email">
              </div>
              <div id="events-option" class="form-group">
                <select  multiple id="inputevents" class="form-control">
                  <option>Wedding Day</option>
                  <option>Ceremony Day</option>
                  <option>The Party</option>
                </select>
              </div>
              <div class="form-group">
                <input type="submit" id="submitButton"  name="submitButton" class="btn btn-default" value="I'm Attending">
              </div> 
            </form> <!--END of FORM-->

          </div> <!--END of FORM WRAPPER-->

        </div>
      </div> <!--END of BOOTSTRAP GRID-->

    </div>
  </div> <!--END of RSVP FORM-->

</section> <!--END of RSVP-->