<!--WHERE AND WHEN SECTION-->
<!--===================================================================================-->
<section id="wherewhen">
  <div class="container-fluid">

    <!--START BOOTSTRAP GRID-->
    <div class="row">
      <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 text-center">

        <!--WHERE AND WHEN TEXT-->
        <h2 class="animation fadeInUp">Where and When</h2>
        <p class="animation delay1 fadeInUp">The ceremony will be held on <strong>Saturday, January 12, 2015</strong> at <strong><a href="index-topbar.html#" class="popup-map">Manalia Tower Floor 24 Room 256, Anfix Street ST01</a></strong>. It will start at <strong>Five O'Clock</strong> in the evenings. A celebration with dinner and dancing will follow at <strong><a href="index-topbar.html#" class="popup-map">Forine Restaurant, Rose Street ST08</a></strong>. Check the <a href="index-topbar.html#" class="popup-map"><strong>map</strong></a> to get the direction. We have arranged accommodations at a nearby comfort inn for guests who are making a bit of a trip. Check for <strong><a class="ajax-popup" href="accomodation.html">accomodations</a></strong>.</p>
        <a href="index-topbar.html#rsvp-intro" id="rsvpbutton" class="smoothscroll btn btn-default custom-size animation delay1 fadeInUp">RSVP</a>    

      </div>     
    </div> <!--END of BOOTSTRAP GRID-->   

  </div> <!--END of CONTAINER-FLUID-->                    
</section><!--END of WHERE AND WHEN SECTION-->
